/* roboto-mono-regular - latin_cyrillic */
@font-face {
  font-family: 'Fallout Font';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fallout-font.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Fallout Font 2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/font-2.ttf'); /* IE9 Compat Modes */
}
